   
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: black;
    width: 1400px;
    font-family: 'IM Fell English SC', serif;

}

li, a{
   
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;

}
.header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
    

}

.logo {
    cursor: pointer;
    margin-right: 400px;
    padding-left: 40px;
    padding-top: 5px;
}

nav{
    display: inline-block;
    margin-right: 100px;
    width: 700px;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #930000
}

.szk{
    margin-top: 15px;
}

.zag{
    color: white;
    font-family: 'IM Fell English SC', serif;
    margin-left: 585px;
    padding-top: 20px;
    font-size: 45px;
}

.kas{
    margin-left: 260px;
    margin-top: 40px;
}
 
.text{
    color: white;
    width: 900px;
    text-align: center;
    margin-left: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
}




.container{
    width: 80%;
    margin: 0 auto;
    margin-left: 200px;
    padding: 1%;
    background-color:black;
}
.text-center{
    text-align: center;
}
.clearfix{
    clear: both;
    float: none;
}
.contact{
    background-color: black;
    padding: 4% 0;
}
.contact-form{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(61, 61, 112);
}


@media only screen and (max-width:768px){
    .contact{
        padding: 20% 0;
    }
    .contact-form{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    iframe{
        width: 100%;
    }
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left: 10px;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
    

    
